In [24]:
import pickle
import pandas as pd
import numpy as np

In [27]:
file_name = "/home/silil/Documents/iexe/ciencia_datos_aplicada/aplicaciones_de_cd_1/datos_limpios.pkl"

In [28]:
f = open(file_name, "rb")
datos_limpios = pickle.load(f)

1. ¿Cuántas inspecciones tienes?

In [29]:
datos_limpios.shape

(212207, 17)

2. ¿Qué porcentaje de establecimientos de riesgo 1 High tienes?

In [30]:
datos_limpios.columns.values

array(['inspection_id', 'dba_name', 'aka_name', 'license_',
       'facility_type', 'risk', 'address', 'city', 'state', 'zip',
       'inspection_date', 'inspection_type', 'results', 'latitude',
       'longitude', 'location', 'violations'], dtype=object)

In [31]:
datos_limpios.risk.value_counts(normalize=True)

Risk 1 (High)      0.715438
Risk 2 (Medium)    0.195352
Risk 3 (Low)       0.089069
All                0.000141
Name: risk, dtype: float64

3. ¿Qué tipo de establecimiento es el más inspeccionado?

In [33]:
datos_limpios.facility_type.value_counts(normalize=True)

Restaurant                      0.690147
Grocery Store                   0.131004
School                          0.060300
Children's Services Facility    0.016946
Bakery                          0.014670
                                  ...
NAIL SHOP                       0.000005
CHURCH/AFTER SCHOOL PROGRAM     0.000005
Internet Cafe                   0.000005
HERBAL STORE                    0.000005
GROCERY/LIQUOR                  0.000005
Name: facility_type, Length: 493, dtype: float64

4. ¿Cuál es el código postal con menos inspecciones?

In [37]:
datos_limpios.zip.value_counts().sort_values().head(10)

60148       1
60406       1
60559       1
60627       2
60501       4
60827     144
60633     386
60656     861
60655     885
60707    1226
Name: zip, dtype: int64

5. ¿Cuántos días diferentes tienes?

In [39]:
datos_limpios.inspection_date.max() - datos_limpios.inspection_date.min()

Timedelta('3966 days 00:00:00')

6. ¿Cuántos establecimientos tipo Bakery tienen inspecciones?

In [43]:
datos_limpios[datos_limpios.facility_type == 'Bakery'].shape

(3113, 17)

7. ¿Cuántas inspecciones hay con un resultado Out of Business?

In [45]:
datos_limpios[datos_limpios.results == 'Out of Business'].shape

(18437, 17)

In [46]:
datos_limpios.results.value_counts()

Pass                    111268
Fail                     41005
Pass w/ Conditions       32089
Out of Business          18437
No Entry                  7113
Not Ready                 2226
Business Not Located        69
Name: results, dtype: int64

8. ¿Cuál es el par de coordenadas de latitud y longitud que más aparece?

In [58]:
datos_limpios.groupby(['latitude', 'longitude'], as_index=False)['zip']\
.count()\
.sort_values(by="zip", ascending=False).head()

        latitude  longitude   zip
16934  42.008536 -87.914428  2691
3310   41.789329 -87.741646   583
7652   41.884188 -87.641120   503
7459   41.881994 -87.639759   478
8119   41.887434 -87.681849   452

9. ¿Cuál es el par de coordenadas de latitud y longitud con mayor número de inspecciones con resultado Fail?

In [56]:
datos_limpios[datos_limpios.results == "Fail"].groupby(['latitude', 'longitude'], as_index=False)['zip']\
.count()\
.sort_values(by="zip", ascending=False).head()

        latitude  longitude  zip
12613  42.008536 -87.914428  349
4159   41.850451 -87.658798  110
6205   41.887434 -87.681849  108
5730   41.881994 -87.639759   86
2526   41.789329 -87.741646   64

10. ¿Cuál es el código postal con más establecimientos con resultado de inspección Out of Business?

In [59]:
datos_limpios[datos_limpios.results == 'Out of Business'].groupby(['zip'], as_index=False)['results']\
.count()\
.sort_values(by="results", ascending=False).head()

      zip  results
46  60647      758
54  60657      740
25  60625      737
18  60618      682
14  60614      678