In [ ]:
! pip install boto3

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pickle
import boto3
import yaml

from datetime import date
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

### 1. Cargar los datos ingestados del bucket de S3

In [ ]:
def cargar_datos_s3(bucket, bucket_path):
    session = boto3.Session(
        aws_access_key_id = "ASIAQPJC32FLDJ72DXOC",
        aws_secret_access_key = "It7D+YRBO2EJSVwmKBFA9v4adrszYJTMpCAC4JDA",
        aws_session_token = "FwoGZXIvYXdzEIf//////////wEaDKHwxR2rOnCB7bUjwyLAAQTGTEQSSkacjk2TVN1t4aoKI5jmVK5D+Ui3xuQM6WxQwGUEuw86aWntDtgG5/oXyBvjsqbmpGwUd1bQraB+mVFKd7bVBfox0obLPPvftEaVtGfpB4F2Ig0myiEIAZHpT7aoTsEguV4FsjaefJ9IdTQDQPHDuSbItdyqWGIrA4t+oAooZHvBwY4AmmX8niQa4IWl+R1lvKZ4CI1gFW+1ODRP5tsq7JOFOZVYVXp7xWhtqopd2zuqnvKdhsgiSX2izCjawIWTBjItooZ0iAdko7FQLk7OqDEYGYSHjIJ5ij6UteZsRMv6uvPqkGjMUd9LmCFLPw3+"

    )

    s3 = session.resource('s3')
    
    obj = s3.Object(bucket, bucket_path).get()['Body'].read()
    dataset = pickle.loads(obj)
    
    return dataset

In [ ]:
session = boto3.Session(
    aws_access_key_id = "ASIAQPJC32FLDJ72DXOC",
        aws_secret_access_key = "It7D+YRBO2EJSVwmKBFA9v4adrszYJTMpCAC4JDA",
        aws_session_token = "FwoGZXIvYXdzEIf//////////wEaDKHwxR2rOnCB7bUjwyLAAQTGTEQSSkacjk2TVN1t4aoKI5jmVK5D+Ui3xuQM6WxQwGUEuw86aWntDtgG5/oXyBvjsqbmpGwUd1bQraB+mVFKd7bVBfox0obLPPvftEaVtGfpB4F2Ig0myiEIAZHpT7aoTsEguV4FsjaefJ9IdTQDQPHDuSbItdyqWGIrA4t+oAooZHvBwY4AmmX8niQa4IWl+R1lvKZ4CI1gFW+1ODRP5tsq7JOFOZVYVXp7xWhtqopd2zuqnvKdhsgiSX2izCjawIWTBjItooZ0iAdko7FQLk7OqDEYGYSHjIJ5ij6UteZsRMv6uvPqkGjMUd9LmCFLPw3+"

)

s3 = session.client('s3')

In [ ]:
bucket = "mcdia0307"
key = "limpieza/"

In [ ]:
bucket_path = s3.list_objects_v2(Bucket=bucket, Prefix=key)['Contents'][-1]['Key']

In [ ]:
bucket_path

'limpieza/datos-limpios-2022-04-13.pkl'

In [ ]:
dataset = cargar_datos_s3(bucket, bucket_path)

### 2. Eliminar observaciones con resultados inválidos

In [ ]:
dataset.head()

,inspection_id,dba_name,aka_name,license_,facility_type,risk,address,city,state,zip,inspection_date,inspection_type,results,latitude,longitude,location,violations
0,67733,WOLCOTT'S,TROQUET,1992040,Restaurant,Risk 1 (High),1834 W MONTROSE AVE,CHICAGO,IL,60613,2010-01-04,License Re-Inspection,Pass,41.961606,-87.675967,"{'latitude': '-87.67596676683779', 'longitude'...",NaN
1,52234,Cafe 608,Cafe 608,2013328,Restaurant,Risk 1 (High),608 W BARRY AVE,CHICAGO,IL,60657,2010-01-04,License Re-Inspection,Pass,41.938007,-87.644755,"{'latitude': '-87.6447545707008', 'longitude':...",NaN
2,67757,DUNKIN DONUTS/BASKIN-ROBBINS,DUNKIN DONUTS/BASKIN-ROBBINS,1380279,Restaurant,Risk 2 (Medium),100 W RANDOLPH ST,CHICAGO,IL,60601,2010-01-04,Tag Removal,Pass,41.884586,-87.631010,"{'latitude': '-87.63101044588599', 'longitude'...",NaN
3,67732,WOLCOTT'S,TROQUET,1992039,Restaurant,Risk 1 (High),1834 W MONTROSE AVE,CHICAGO,IL,60613,2010-01-04,License Re-Inspection,Pass,41.961606,-87.675967,"{'latitude': '-87.67596676683779', 'longitude'...",NaN
5,104236,TEMPO CAFE,TEMPO CAFE,80916,Restaurant,Risk 1 (High),6 E CHESTNUT ST,CHICAGO,IL,60611,2010-01-04,Canvass,Fail,41.898431,-87.628009,"{'latitude': '-87.6280091630558', 'longitude':...",18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...

In [ ]:
dataset.dtypes

inspection_id               int64
dba_name                   object
aka_name                   object
license_                   object
facility_type              object
risk                       object
address                    object
city                       object
state                      object
zip                        object
inspection_date    datetime64[ns]
inspection_type            object
results                    object
latitude                  float64
longitude                 float64
location                   object
violations                 object
dtype: object

In [ ]:
dataset.groupby(['results'], as_index=False)['inspection_id'].count()

                results  inspection_id
0  Business Not Located             73
1                  Fail          45122
2              No Entry           8669
3             Not Ready           2713
4       Out of Business          20165
5                  Pass         120721
6    Pass w/ Conditions          36262

In [ ]:
def delete_inspections(df):
    return df[df.results.isin(['Fail', 'Not Ready', 'Pass', 'Pass w/ Conditions'])]

In [ ]:
inspections_wo_not_valid_results = delete_inspections(dataset)

In [ ]:
inspections_wo_not_valid_results.shape

(204818, 17)

In [ ]:
inspections_wo_not_valid_results.results.value_counts()

Pass                  120721
Fail                   45122
Pass w/ Conditions     36262
Not Ready               2713
Name: results, dtype: int64

### 3. Modificar etiquetas de resultados

In [ ]:
def transform_result(df):
    df.results.mask(df.results.isin(['Pass w/ Conditions', 'Pass']), 'pass', inplace=True)
    df.results.mask(df.results.isin(['Fail', 'Not Ready']), 'fail', inplace=True)
    
    return df

In [ ]:
inspections = transform_result(inspections_wo_not_valid_results)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
inspections.results.value_counts()

pass    156983
fail     47835
Name: results, dtype: int64

### 4. Modificar etiquetas de riesgo

In [ ]:
def transform_risk(df):
    df.risk.mask(df.risk.str.contains('Low'), 'low', inplace=True)
    df.risk.mask(df.risk.str.contains('Medium'), 'medium', inplace=True)
    df.risk.mask(df.risk.str.contains('High'), 'high', inplace=True)
    df.risk.mask(df.risk.str.contains('All'), 'all', inplace=True)
    
    return df

In [ ]:
inspections = transform_risk(inspections)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

### 5. Modificar las etiquetas de facility_type

In [ ]:
def transform_facility(df):
    df.facility_type.mask(df.facility_type.str.contains('Restaurant'), 'restaurant', inplace=True)
    df.facility_type.mask(df.facility_type.str.contains('Daycare'), 'daycare', inplace=True)
    df.facility_type.mask(df.facility_type.str.contains('Mobile Food'), 'mobile food', inplace=True)
    
    return df

In [ ]:
inspections = transform_facility(inspections)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
aux = inspections.groupby(['facility_type'], as_index=False)['inspection_id']\
.count()\
.rename(columns={'inspection_id': 'count'})\
.sort_values(by="count", ascending=False).head(20)

In [ ]:
def transform_facility_other(df):
    df.facility_type.mask(~(df.facility_type.isin(aux.facility_type.values)), 'other', inplace=True)
    
    return df

In [ ]:
inspections = transform_facility_other(inspections)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
inspections.groupby(['facility_type'], as_index=False)['inspection_id'].count()\
.sort_values(by="inspection_id", ascending=False).head(30)

                      facility_type  inspection_id
20                       restaurant         139075
6                     Grocery Store          26662
11                           School          13826
17                          daycare           6357
3      Children's Services Facility           4139
19                            other           3632
1                            Bakery           3026
9                    Long Term Care           1513
18                      mobile food           1461
2                          Catering           1179
8                            Liquor            931
7                          Hospital            628
5                      Golden Diner            611
16                        Wholesale            503
15                           TAVERN            312
14                    Special Event            219
13  Shared Kitchen User (Long Term)            203
12                   Shared Kitchen            162
4                       GAS STATION            156
0                      BANQUET HALL            113
10      Mobile Prepared Food Vendor            110

### 6. Creación de features

In [ ]:
def generate_features(df):
    df['month'] = df.inspection_date.dt.month
    df['year'] = df.inspection_date.dt.year
    df['day_of_month'] = df.inspection_date.dt.day
    df['week_of_year'] = df.inspection_date.dt.week
    df['day_of_week'] = df.inspection_date.dt.dayofweek
    # day of week 0: lunes
    df['week_day'] = 1
    df.week_day.mask(df.week_day.isin([5,6]), 0, inplace=True)
    df['weekend'] = 0
    df.week_day.mask(df.week_day.isin([5,6]), 1, inplace=True)
    
    return df

In [ ]:
inspections = generate_features(inspections)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [ ]:
inspections.head()

,inspection_id,dba_name,aka_name,license_,facility_type,risk,address,city,state,zip,...,longitude,location,violations,month,year,day_of_month,week_of_year,day_of_week,week_day,weekend
0,67733,WOLCOTT'S,TROQUET,1992040,restaurant,high,1834 W MONTROSE AVE,CHICAGO,IL,60613,...,-87.675967,"{'latitude': '-87.67596676683779', 'longitude'...",NaN,1,2010,4,1,0,1,0
1,52234,Cafe 608,Cafe 608,2013328,restaurant,high,608 W BARRY AVE,CHICAGO,IL,60657,...,-87.644755,"{'latitude': '-87.6447545707008', 'longitude':...",NaN,1,2010,4,1,0,1,0
2,67757,DUNKIN DONUTS/BASKIN-ROBBINS,DUNKIN DONUTS/BASKIN-ROBBINS,1380279,restaurant,medium,100 W RANDOLPH ST,CHICAGO,IL,60601,...,-87.631010,"{'latitude': '-87.63101044588599', 'longitude'...",NaN,1,2010,4,1,0,1,0
3,67732,WOLCOTT'S,TROQUET,1992039,restaurant,high,1834 W MONTROSE AVE,CHICAGO,IL,60613,...,-87.675967,"{'latitude': '-87.67596676683779', 'longitude'...",NaN,1,2010,4,1,0,1,0
5,104236,TEMPO CAFE,TEMPO CAFE,80916,restaurant,high,6 E CHESTNUT ST,CHICAGO,IL,60611,...,-87.628009,"{'latitude': '-87.6280091630558', 'longitude':...",18. NO EVIDENCE OF RODENT OR INSECT OUTER OPEN...,1,2010,4,1,0,1,0

### 7. Crear la matriz de diseño

In [ ]:
df = inspections[['facility_type', 'risk', 'latitude', 'longitude', 'month', 'year', 'day_of_month',
                 'week_of_year', 'day_of_week', 'week_day', 'weekend']]

In [ ]:
transformers = [('one_hot_risk', OneHotEncoder(), ['facility_type']),
               ('one_hot_facility_type', OneHotEncoder(), ['risk'])]

ct = ColumnTransformer(transformers, remainder="passthrough", n_jobs=-1)

In [ ]:
fm = ct.fit_transform(df)

In [ ]:
fm.shape

(204818, 34)

In [ ]:
np.array(ct.get_feature_names())

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

array(['one_hot_risk__x0_BANQUET HALL', 'one_hot_risk__x0_Bakery',
       'one_hot_risk__x0_Catering',
       "one_hot_risk__x0_Children's Services Facility",
       'one_hot_risk__x0_GAS STATION', 'one_hot_risk__x0_Golden Diner',
       'one_hot_risk__x0_Grocery Store', 'one_hot_risk__x0_Hospital',
       'one_hot_risk__x0_Liquor', 'one_hot_risk__x0_Long Term Care',
       'one_hot_risk__x0_Mobile Prepared Food Vendor',
       'one_hot_risk__x0_School', 'one_hot_risk__x0_Shared Kitchen',
       'one_hot_risk__x0_Shared Kitchen User (Long Term)',
       'one_hot_risk__x0_Special Event', 'one_hot_risk__x0_TAVERN',
       'one_hot_risk__x0_Wholesale', 'one_hot_risk__x0_daycare',
       'one_hot_risk__x0_mobile food', 'one_hot_risk__x0_other',
       'one_hot_risk__x0_restaurant', 'one_hot_facility_type__x0_all',
       'one_hot_facility_type__x0_high', 'one_hot_facility_type__x0_low',
       'one_hot_facility_type__x0_medium', 'latitude', 'longitude',
       'month', 'year', 'day_of_month', 'week_of_year', 'day_of_week',
       'week_day', 'weekend'], dtype='<U48')

In [ ]:
feature_matrix = pd.DataFrame(fm, columns=np.array(ct.get_feature_names()))

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
feature_matrix.head()

,one_hot_risk__x0_BANQUET HALL,one_hot_risk__x0_Bakery,one_hot_risk__x0_Catering,one_hot_risk__x0_Children's Services Facility,one_hot_risk__x0_GAS STATION,one_hot_risk__x0_Golden Diner,one_hot_risk__x0_Grocery Store,one_hot_risk__x0_Hospital,one_hot_risk__x0_Liquor,one_hot_risk__x0_Long Term Care,...,one_hot_facility_type__x0_medium,latitude,longitude,month,year,day_of_month,week_of_year,day_of_week,week_day,weekend
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,41.961606,-87.675967,1.0,2010.0,4.0,1.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,41.938007,-87.644755,1.0,2010.0,4.0,1.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,41.884586,-87.631010,1.0,2010.0,4.0,1.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,41.961606,-87.675967,1.0,2010.0,4.0,1.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,41.898431,-87.628009,1.0,2010.0,4.0,1.0,0.0,1.0,0.0

### 8. Guardar la matriz de diseño

In [ ]:
def save_feature_matrix(bucket, bucket_path, dataset):
    session = boto3.Session(
        aws_access_key_id = "ASIAQPJC32FLDJ72DXOC",
        aws_secret_access_key = "It7D+YRBO2EJSVwmKBFA9v4adrszYJTMpCAC4JDA",
        aws_session_token = "FwoGZXIvYXdzEIf//////////wEaDKHwxR2rOnCB7bUjwyLAAQTGTEQSSkacjk2TVN1t4aoKI5jmVK5D+Ui3xuQM6WxQwGUEuw86aWntDtgG5/oXyBvjsqbmpGwUd1bQraB+mVFKd7bVBfox0obLPPvftEaVtGfpB4F2Ig0myiEIAZHpT7aoTsEguV4FsjaefJ9IdTQDQPHDuSbItdyqWGIrA4t+oAooZHvBwY4AmmX8niQa4IWl+R1lvKZ4CI1gFW+1ODRP5tsq7JOFOZVYVXp7xWhtqopd2zuqnvKdhsgiSX2izCjawIWTBjItooZ0iAdko7FQLk7OqDEYGYSHjIJ5ij6UteZsRMv6uvPqkGjMUd9LmCFLPw3+"

    )

    s3 = session.resource('s3')

    s3.Object(bucket, bucket_path).put(Body=dataset)

In [ ]:
TODAY = date.today()

In [ ]:
pickle_data = pickle.dumps(feature_matrix)

In [ ]:
bucket = "mcdia0307"
key = "feature-matrix/feature-matrix-" + str(TODAY) + ".pkl"

In [ ]:
save_feature_matrix(bucket, key, pickle_data)